body, html {
  min-height: 100%; 
}

body {
  background-image: url(../src/assets/photos.jpg);
  background-size: cover;
  color: ivory;
  /* background: linear-gradient(rgba(#000, .8), rgba(#000, .6)); */
}

h1 {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}

.signin {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  margin: 5px;
  border-radius: 15px;
  text-align: center;
  border: 2px solid black;
  font-size: 20px;
  width: 30%;
}

button {
  border: 5px solid gray;
  border-radius: 15px;
  margin: 5px;
  text-align: center;
  background-image: radial-gradient(silver, ivory);
}

button:hover {
  cursor: pointer;
  opacity: .6;
}

textarea {
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  width: 30%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainBody {
  display: flex;
  justify-content: center;
}

img {
  display: flex;
  justify-content: center;
  max-width: 250px;
  border-radius: 15px;
}

.clickable:hover {
  cursor: pointer;
  opacity: .6;
}

.clickable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.memoryCard {
  display: inline-block;
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid black;
  border-radius: 15px;
  margin: 5px;
  max-width: 250px;
  background-color: rgba(255, 255, 240, 0.664);
}

.header a {
  color: ivory;
  margin-left: 20px;
  text-decoration: none;
}

.header a:hover {
  cursor: pointer;
  opacity: .6;
}